table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    /* overflow: hidden; */
}

th,
td {
    padding: 15px 10px 15px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--golden-color);
    color: white;
}

tr:hover {
    background-color: var(--table-hover);
}

.referal-table-td{
    max-width: 15%;
    min-width: 100px;
}

@media (max-width: 768px) {
    th,
    td {
        padding: 10px;
        font-size: 14px;
    }

    /* .referal-table-td {
       width: 100px;
    } */
    
}