<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="header_name">
            <a href="{{ url_for('routes.main') }}" class="nav__link"> Реферальная программа для сотрудников Golden House </a>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="{{ url_for('routes.main') }}" class="nav__link"><i class="fas fa-home"></i> Главная страница</a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('routes.profile') }}" class="nav__link"><i class="fas fa-user"></i> Профиль</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="container">
            <h1 class="main__title">Ошибка</h1>
            <div class="error-container">
                <p class="error-message">{{ error }}</p>
                <a href="{{ url_for('routes.main') }}" class="button">Вернуться на главную</a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p class="footer__text">&copy; 2025 Реферальная система</p>
    </footer>
</body>
</html>
