<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <script>
        function hideFlashMessage() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                setTimeout(function() {
                    flashMessage.style.display = 'none';
                }, 3000);
            }
        }

        window.onload = hideFlashMessage;
    </script>
</head>
<header style="padding: 1rem;">
        <a href="{{ url_for('routes.main') }}"  class="nav__link" > Реферальная программа для сотрудников Golden House </a>
</header>
<body>
    <div class="flash-message-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="flash-message" class="{{ 'flash-message' if category == 'success' else 'error-message' }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    <main class="container center">
        <h1 class="main__title">Вход в систему</h1>
        <div class="form-container">
            <form method="POST" action="{{ url_for('routes.login') }}" class="form">


                <div class="form__group">
                    <label for="login" class="form__label" style="margin-left: 12px">Логин:</label>
                    <input type="text" id="login" name="login" placeholder="Введите логин" required class="form__input">
                </div>

                <div class="form__group">
                    <label for="password" class="form__label">Пароль:</label>
                    <input type="password" id="password" name="password" placeholder="Введите пароль" required class="form__input">
                </div>

                <button type="submit" class="button">Войти</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <p class="footer__text">&copy; 2025 Реферальная система</p>
    </footer> 
</body>
</html>