<!-- filepath: c:\Users\d.tolkunov\CodeRepository\AnalyticsRepo\referal\templates\components\header.html -->
<header class="header">
    <div class="header_name">
        <a href="{{ url_for('referal.profile') }}" class="nav__link"> Реферальная программа для сотрудников Golden House </a>
    </div>
    <nav class="nav">
        <ul class="nav__list">
            {% if request.path != '/' %}
            <li class="nav__item">
                <a href="{{ url_for('referal.profile') }}" class="nav__link"><i class="fas fa-users"></i>Мои рефералы</a>
            </li>
            {% endif %}
            {% if current_user and request.path != '/profile' %}
            <li class="nav__item">
                <a href="{{ url_for('user.user_profile') }}" class="nav__link"><i class="fas fa-user"></i>Мой профиль</a>
            </li>
            {% endif %}
            {% if current_user and current_user.role=='admin' and request.path != '/admin' %}
            <li class="nav__item">
                <a href="{{ url_for('admin.admin_panel') }}" class="nav__link"><i class="fas fa-cog"></i>Админ</a>
            </li>
            {% endif %}
            {% if current_user and current_user.role=='manager' %}
            <li class="nav__item">
                <a href="{{ url_for('manager.manager_panel') }}" class="nav__link"><i class="fas fa-tasks"></i>Менеджер</a>
            </li>
            {% endif %}
            <li>
                <a href="/menu" class="nav__link"><i class="fas fa-th-list"></i> Меню сервисов</a>
            </li>
        </ul>
    </nav>
</header>